.recipes {
  z-index: 6;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: none;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(.5rem);
}

.recipes > *:first-child {
  margin-top: 20rem;
}

.recipes--visible {
  display: flex;
}

.recipes__ingredient {
  background-size: var(--dish-btn-width) var(--dish-btn-width) !important;
  width: var(--dish-btn-width);
  height: var(--dish-btn-width);
  margin-right: 1rem;
}

.recipes__recipe {
  background-size: var(--dish-btn-width) var(--dish-btn-width) !important;
  width: var(--dish-btn-width);
  height: var(--dish-btn-width);
  margin-right: 1rem;
}

.recipes__close-btn {
  background: url('../closeIco/CloseIco.svg') no-repeat top left;
  background-size: var(--menu-btn-width) var(--menu-btn-width);
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  float: left;
}

.recipes__list {
  display: flex;
  justify-content: center;
  margin: 0 0 4rem 0;
  flex-wrap: wrap;
  align-items: center;
}

.recipes__list > div:last-child {
  margin-right: 0;
}

.recipes__controls {
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
}

.recipes__symbol {
  font-size: 3rem;
  margin-right: 1rem;
}
