.dish {
  border-radius: 8px;
  border: var(--border-size) solid var(--border-color);
  background: #c8e0e8;
  width: var(--dish-btn-width);
  height: var(--dish-btn-width);
  margin-right: 10px;
  float: left;
}

.dish--last {
  margin-right: 0 !important;
}

.dish--selected {
  border: var(--border-size) solid var(--border-color-selected);
}

.dish__food {
  background: var(--border-color);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  float: left;
}
