.dish {
  background: url('../dishIco/DishIco.svg') no-repeat top left;
  background-size: var(--dish-btn-width) var(--dish-btn-width);
  width: var(--dish-btn-width);
  height: var(--dish-btn-width);
  margin-right: 1rem;
  float: left;
}

.dish--is-selected {
  background: url('../dishIco/DishIcoSelected.svg') no-repeat top left;
  background-size: var(--dish-btn-width) var(--dish-btn-width);
}

.dish__ingredient {
  background: var(--border-color);
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  float: left;
  text-align: center;
  color: var(--background-color);
  line-height: 2.4rem;
}

.dish__ingredient--main {
  width: 100%;
  height: 100%;
  line-height: 5rem;
}

.dish__recipe {
  background: var(--border-color);
  border-radius: 100%;
  text-align: center;
  color: var(--background-color);
  float: left;
  width: 100%;
  height: 100%;
  line-height: 5rem;
}

.dish__ellipsis {
  background: var(--background-color);
  width: 2.5rem;
  height: 2.5rem;
  line-height: 1.5rem;
  border-radius: 100%;
  float: left;

  text-align: center;
  color: var(--border-color);
}
