.profile {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
}

.profile__level {
  display: inline-block;
  padding: 0.8rem 0.5rem 0.5rem 0.8rem;
  margin-right: 0.5rem;
}

.profile__lives {
  display: inline-block;
  padding: 0.8rem 0.5rem 0.5rem 0.5rem;
  margin-right: 0.5rem;
}

.profile__lives__logo {
  background: var(--border-color);
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  border-radius: 100%;
  display: inline-block;
  vertical-align: bottom;
}

.profile__coins {
  display: inline-block;
  padding: 0.8rem 0.5rem 0.5rem 0.5rem;
}

.profile__coins__logo {
  background: var(--border-color);
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  border-radius: 100%;
  display: inline-block;
  vertical-align: bottom;
}

