.client {
  border-radius: 0.8rem;
  border: var(--border-size) solid var(--border-color);
  background: #dfebc7;
  width: var(--dish-btn-width);
  height: var(--dish-btn-width);
  margin-right: 0.5rem;
  float: left;
  position: relative;
}

.client--last {
  margin-right: 0;
}

.client__clock {
  background: var(--border-color);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  top: 0.2rem;
  right: 0.2rem;
  position: absolute;
}
