.restartpage {
  z-index: 6;
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(.5rem);
}

.restartpage > *:first-child {
  margin-top: 10rem;
}

.restartpage--visible {
  display: flex;
}

.restartpage__level {
  font-size: 4rem;
  width: 8rem;
  text-align: center;
}

.restartpage__level-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 6rem;
}

.restartpage__level-start > div {
  margin-right: 2rem;
}

.restartpage__level-start > div:last-child {
  margin-right: 0rem;
}

.restartpage__level-ctrl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.restartpage__game-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  margin-bottom: 4rem;
  height: 24%;
}

.restartpage__game-logo g {
  fill: white;
}

.restartpage__retry-btn {
  background: url('../retryIco/RetryIco.svg') no-repeat top left;
  background-size: 6rem 6rem;
  width: 6rem;
  height: 6rem;
}

.restartpage__play-btn {
  background: url('../playIco/PlayIco.svg') no-repeat top left;
  background-size: 6rem 6rem;
  width: 6rem;
  height: 6rem;
}

.restartpage__resume-btn {
  background: url('../resumeIco/ResumeIco.svg') no-repeat 0 .25rem;
  background-size: 6rem 5.5rem;
  width: 6rem;
  height: 6rem;
}

.restartpage__prev-level-btn {
  background: url('../prevIco/PrevIco.svg') no-repeat top left;
  background-size: 3rem 3rem;
  width: 3rem;
  height: 3rem;
}

.restartpage__next-level-btn {
  background: url('../nextIco/NextIco.svg') no-repeat top left;
  background-size: 3rem 3rem;
  width: 3rem;
  height: 3rem;
}

.restartpage__coins {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 4rem;
}

.restartpage__coins__logo {
  background: url('../coinsIco/CoinsIco.svg') no-repeat top left;
  background-size: 4rem 4rem;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  display: inline-block;
  vertical-align: bottom;
}

.restartpage__coins__txt {
  font-size: 5rem;
  line-height: 3.25rem;
}
