.restartpage {
  z-index: 6;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: none;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(.5rem);
}

.restartpage--visible {
  display: flex;
}

.restartpage__level {
  font-size: 4rem;
  width: 8rem;
  text-align: center;
}

.restartpage__level-start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
  height: 6rem;
}

.restartpage__level-ctrl {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40%;
  align-items: center;
}

.restartpage__retry-btn {
  background: rgb(233, 108, 108);
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.restartpage__play-btn {
  background: var(--border-color);
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
}

.restartpage__prev-level-btn {
  background: rgb(109, 212, 164);
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}

.restartpage__next-level-btn {
  background: rgb(150, 119, 207);
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
}
