.board {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.board__body-container {
  position: relative;
  flex: 1;
  display: flex;
  height: 20rem;
}

.board__game-logo {
  width: 13rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}

.board__menu-controls {
  padding: 0.5rem;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 3;
}

.board__sound-btn {
  background: var(--border-color);
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  border-radius: 100%;
  float: left;
  margin-bottom: 0.5rem;
  clear: both;
}

.board__replay-btn {
  background: var(--border-color);
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  border-radius: 100%;
  float: left;
  clear: both;
}

.board__pause-btn {
  background: var(--border-color);
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  border-radius: 100%;
  float: left;
  margin-bottom: 0.5rem;
  clear: both;
}
