.board {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.board--fade {
  filter: blur(10px);
}

.board__body-container {
  position: relative;
  flex: 1;
  display: flex;
  height: 200px;
}

.board__game-logo {
  width: 130px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.board__menu-controls {
  border: 1px dashed var(--border-color);
  padding: 5px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: 3;
}

.board__sound-btn {
  background: var(--border-color);
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  border-radius: 100%;
  float: left;
  margin-bottom: 5px;
  clear: both;
}

.board__pause-btn {
  background: var(--border-color);
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  border-radius: 100%;
  float: left;
  margin-bottom: 5px;
  clear: both;
}

.board__replay-btn {
  background: var(--border-color);
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  border-radius: 100%;
  float: left;
  clear: both;
}
