.ingredients-store {
  z-index: 6;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  display: none;
  justify-content: center;
  flex-direction: column;
}

.ingredients-store--visible {
  display: flex;
}

.ingredients-store__list {
  display: flex;
  justify-content: center;
  margin: 0 2rem 4rem 4rem;
  margin-top: 40%;
  flex-wrap: wrap;
}

.ingredients-store__controls {
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
}

.ingredients-store__ingredient {
  background: var(--border-color);
  width: var(--dish-btn-width);
  height: var(--dish-btn-width);
  border-radius: 100%;
  margin-right: 2rem;
  margin-top: 2rem;

  text-align: center;
  color: var(--background-color);
  line-height: 5rem;
}

.ingredients-store__close-btn {
  background: var(--border-color);
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  border-radius: 100%;
}
