.kitchen {
  border-top: 0.2rem solid var(--background-color);
  padding: 0.8rem 0.8rem 4rem 0.8rem;
  background: repeating-linear-gradient(
    to right,
    #e3a3a1,
    #e3a3a1 2.5rem,
    var(--background-color) 2.5rem,
    var(--background-color) 5rem
  );
}

.kitchen__trash-btn {
  background: var(--border-color);
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  border-radius: 100%;
  margin-right: 1rem;
  float: left;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
