.kitchen {
  border-top: 0.2rem solid #f0f0f0;
  padding: 0.8rem 0.8rem 8rem 0.8rem;
  background: repeating-linear-gradient(
    to right,
    #aecfe6,
    #aecfe6 2.5rem,
    #dae4eb 2.5rem,
    #dae4eb 5rem
  );
}

.kitchen__trash-btn {
  background: url('../trashIco/TrashIco.svg') no-repeat top left;
  background-size: var(--menu-btn-width) var(--menu-btn-width);
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  margin-right: 1rem;
  float: left;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
