.kitchen {
  border-top: 2px solid var(--border-color);
  padding: 8px;
}

.kitchen__trash-btn {
  background: #ebcbc7;
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  border-radius: 100%;
  margin-right: 10px;
  float: left;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
