.kitchen {
  border-top: 2px solid var(--background-color);
  padding: 8px 8px 40px 8px;
  background: repeating-linear-gradient(
    to right,
    #e3a3a1,
    #e3a3a1 25px,
    var(--background-color) 25px,
    var(--background-color) 50px
  );
}

.kitchen__trash-btn {
  background: var(--border-color);
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  border-radius: 100%;
  margin-right: 10px;
  float: left;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}
