/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --border-color: #483e37;
  --background-color: #e3dedb;
  --menu-btn-width: 35px;
  --border-size: 3px;
  --dish-btn-width: 50px;
}

.gameplay-container {
  background: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.body-container {
  position: relative;
  flex: 1;
  display: flex;
  height: 200px;
}

.game-logo {
  width: 130px;
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
}

.user-stats-section {
  position: absolute;
  top: 0;
  z-index: 5;
  width: 100%;
}

.user-lives {
  display: inline-block;
  padding: 5px;
}

.user-lives_logo {
  background: var(--border-color);
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 5px;
  vertical-align: bottom;
}

.user-lives_logo--last {
  margin: 0;
}

.diner-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1;
  overflow: hidden;
  z-index: 2;
}

.table-section {
  border: 2px solid var(--border-color);
  border-radius: 8px;
  margin-top: 8px;
  padding: 5px;
  float: left;
}

.table-section--last {
  margin-bottom: 8px;
}

.client-btn {
  border-radius: 8px;
  border: var(--border-size) solid var(--border-color);
  background: #dfebc7;
  width: var(--dish-btn-width);
  height: var(--dish-btn-width);
  margin-right: 5px;
  float: left;
  position: relative;
}

.client-btn--last {
  margin-right: 0;
}

.client-clock {
  background: var(--border-color);
  width: 15px;
  height: 15px;
  border-radius: 100%;
  top: 2px;
  right: 2px;
  position: absolute;
}

.kitchen-section {
  border-top: 2px solid var(--border-color);
  padding: 8px;
}

.dish-btn {
  border-radius: 8px;
  border: var(--border-size) solid var(--border-color);
  background: #c8e0e8;
  width: var(--dish-btn-width);
  height: var(--dish-btn-width);
  margin-right: 10px;
  float: left;
}

.dish-food {
  background: var(--background-color);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  float: left;
}

.dish-btn--last {
  margin-right: 0;
}

.trash-btn {
  background: #ebcbc7;
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  border-radius: 100%;
  margin-right: 10px;
  float: left;
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

.menu-controls {
  border: 1px dashed var(--border-color);
  padding: 5px;
  bottom: 0px;
  right: 0px;
  position: absolute;
  z-index: 3;
}

.sound-btn {
  background: var(--border-color);
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  border-radius: 100%;
  float: left;
  margin-bottom: 5px;
  clear: both;
}

.pause-btn {
  background: var(--border-color);
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  border-radius: 100%;
  float: left;
  margin-bottom: 5px;
  clear: both;
}

.replay-btn {
  background: var(--border-color);
  width: var(--menu-btn-width);
  height: var(--menu-btn-width);
  border-radius: 100%;
  float: left;
  clear: both;
}
