/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'MainFont';
  src: url('./Config Rounded Extrabold.otf') format('truetype');
}

html {
  font-size: 75.5%; /* 62.5% */
  font-family: 'MainFont', sans-serif;
  color: var(--border-color);
  -webkit-user-select: none;

  background: var(--background-color);
}

body {
  font-size: 1.6rem;
}

#root {
  border: none;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

@media all and (min-width: 600px) {
  #root {
    width: 414px;
    height: 736px;
    position: relative;
    border: 5px solid black;
    margin: 20px;
    overflow: hidden;
    font-size: 1.2rem;
  }

  .board, .recipes, .restartpage, .ingredients-store {
    min-height: 100% !important;
    height: 100% !important;
  }
}
