.diner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1;
  overflow: hidden;
  z-index: 2;
  border-bottom: 0.2rem solid var(--border-color);
}

.diner > div:last-child {
  margin-bottom: 0.8rem;
}
